<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calculadora Invertida
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <ion-label color="warning">¿Cuál es el resultado de: {{ operacion }} ?</ion-label>
    <p *ngIf="resultado !== undefined">{{ resultado }}</p>
    <ion-input type="number" [(ngModel)]="respuestaUsuario" placeholder="Introduce tu respuesta"></ion-input>
    <ion-button (click)="compruebaRespuesta()">Comprobar</ion-button>
    <ion-button (click)="generarOperacion()">Nueva operación</ion-button>
  </div>
</ion-content>